## Requirements File

# Django Wagtail
wagtail==1.12.6
Django==1.11.15

# RestFramework
djangorestframework==3.6.4

# Heroku
dj-database-url==0.5.0
dj-static==0.0.6
gunicorn==19.9.0
static3==0.7.0
whitenoise==4.0

# Database
psycopg2-binary==2.7.5
